{% extends "Charge/index.twig" %}

{% block header %}
    {{ parent() }}
    <a href="/charge/createChargeAsCustomer">->Create Charge as Customer</a>
{% endblock %}

{% block body %}
    <h1>Create Charge As Customer page</h1>
    <form action="/charge/doCreateChargeAsCustomer" id="create_charge_form">
        <input type="text" name="customer_id" placeholder="Customer ID"><br>
        <input type="text" name="source_id" placeholder="Source ID"><br>
        <input type="text" name="amount" placeholder="Amount"><br>
        <input type="text" name="device_session_id" placeholder="Device Session ID">
        <input type="button" name="generate_device_id" value="Generate!"><br>
        <input type="submit" value="Create AS customer!"><br>
    </form>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/js/charge/charge.js"></script>
{% endblock %}