{%  extends "base.html" %}

{% block header %}
    <a href="/charge/index">->Charges main page</a>
{% endblock %}

{% block body %}
    <br>
    <a href="/charge/customer">Create a customer charge</a>
    <br>
    <a href="/charge/list">List charges of the customer</a>
    <br>
{% endblock %}

