{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome</h1>
    <a href="/customer">Customer management</a><br>
    <a href="/card">Card management</a><br>
    <a href="/charge">Charge management</a><br>
    <a href="/token">Token management</a><br>
    <a href="/sjcl">Sjcl library test</a><br>
    <a href="/payout">Payout management</a><br>
{% endblock %}
