{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome to Openpay-php management</h1>
    <a href="/customer">Customer management</a><br>
    <a href="/card">Card management</a><br>
    <a href="/charge">Charge management</a><br>
    <a href="/token">Token management</a><br>
    <a href="/payout">Payout management</a><br>
    <a href="/webhook">Webhook management</a><br>
    <br>
    <br>
    <h2>Test controller</h2>
    <a href="/test">Test controller</a><br>
{% endblock %}
