{% extends "Card/index.twig" %}

{% block header %}
    {{ parent() }}
    <a href="/card/delete">->Delete a card</a>
{% endblock %}

{% block body %}
    <h1>Delete a card</h1>
    <form action="/card/doDelete" type="POST">
        <input type="text" name="id" placeholder="ID of the card">
        <input type="Submit" value="Delete">
    </form>
{% endblock %}