{% extends "base.html" %}

{% block header %}
    <a href="/card/index">Card main page</a>
{% endblock %}

{% block body %}
    <br>
    <a href="/card/add">Add a card</a>
    <br>
    <a href="/card/listAll">List all cards</a>
    <br>
    <a href="/card/list">List cards</a>
    <br>
{% endblock %}