<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adding customer</title>
</head>
<body>
<h1>Adding customer</h1><br>

<form action="/customer/add" type="POST">
    <input type="text" name="name" placeholder="name" value="Sasha"><br>
    <input type="text" name="last_name" placeholder="last_name" value="Naumkin"><br>
    <input type="text" name="email" placeholder="email" value="naum.oleks@gmail.com"><br>
    <input type="text" name="phone_number" placeholder="phone_number" value="+380980238180"><br>
    <input type="text" name="line1" placeholder="line1" value="80 Novos. str."><br>
    <input type="text" name="line2" placeholder="line2" value="apart 8."><br>
    <input type="text" name="line3" placeholder="line3" value=""><br>
    <input type="text" name="postal_code" placeholder="postal_code" value="65023"><br>
    <input type="text" name="state" placeholder="state" value="Odeska oblast"><br>
    <input type="text" name="city" placeholder="city" value="Odesa"><br>
    <input type="text" name="country_code" placeholder="country_code" value="UA"><br>
    <input type="submit">
</form>

</body>
</html>