{%  extends "base.html" %}

{% block header %}
    <a href="/customer/index">->Customer main page</a>
{% endblock %}

{% block body %}
    <h1>Customer Main Page</h1>
    <a href="/customer/add">Add customer</a>
    <br>
    <a href="/customer/delete">Delete customer</a>
    <br>
    <a href="/customer/listAll">List All customers</a>
    <br>
    <a href="/customer/list">List customers</a>

{%  endblock %}